<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Daramkun.DaramRenamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<userSettings>
		<Daramkun.DaramRenamer.Properties.Settings>
   <setting name="HardwareTurnOn" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoRemoveTurnOn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RegexpOriginal" serializeAs="String">
    <value>XFsoLiopXF0oLiopIC0gKFswLTldKikoLiopXCgoKFtBLVpdfFthLXpdKSopIChbMC05XSopeChbMC05XSopICgoW0EtWl18W2Etel18WzAtOV0pKikgKChbQS1aXXxbYS16XXxbMC05XSkqKVwpLigoWzAtOV18W2Etel0pKik=;KC4qKSAtIChbMC05XSopLigoWzAtOV18W2Etel0pKik=;KFtBLVpdKikoWzAtOV0qKS4oKFswLTldfFthLXpdKSop;KFtBLVpdKilfKFswLTldKikuKChbMC05XXxbYS16XSkqKQ==</value>
   </setting>
   <setting name="RegexpFormat" serializeAs="String">
    <value>W3sxfV0gezJ9IC0gezN9ICh7NH0gezV9eHs2fSB7N30gezh9KS57OX0=;ezF9IC0gezJ9LnszfQ==;ezF9ezJ9LnszfQ==;ezF9X3syfS57M30=</value>
   </setting>
   <setting name="FileCopyWhenApply" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FilenameAutoFix" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExecuteDirect" serializeAs="String">
    <value>True</value>
   </setting>
  </Daramkun.DaramRenamer.Properties.Settings>
	</userSettings>
</configuration>